@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

div.footer{
    background-color: #171923;
    width: 100%;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
    color: white;
    background-color: #171923;
}

footer .formBot{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .formBotTitle{
    font-family: Outfit;
    font-size: 18px;
    font-weight: 700;
}


footer .product div,
footer .community div,
footer .company div
{
    display: flex;
    gap: 1px;
    font-family: 'Open Sans', sans-serif;;
    font-size: 16px;
    font-weight: 400;
}

footer .productTitle,
footer .communityTitle,
footer .companyTitle{
    font-family: Outfit !important;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}